# Android / Gradle
.gradle/
build/
**/build/
local.properties
*.iml
.idea/

# Rust
target/
**/target/

# Native libs produced by cargo-ndk
app/src/main/jniLibs/

# Keystore / secrets
*.keystore
*.jks

# OS
.DS_Store
core/target
.kotlin/
